doctype html
html
    head
        title Student Proxy!
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href='/bower_compononts/bootstrap/dist/css/.css')
        link(rel='stylesheet' href='bower_compononts/bootstrap/dist/css/glyphicons-halflings-regular.eot')
    
            
    body

        .container
            block content
            br
            hr
            footer
                copyright &copy; 2017 Imran Syed
        script(src='/bower_compononts/bootstrap/dist/js/bootstrap.js')
        script(src='/bower_compononts/jquerry/dist/jquerry.js')